<html>
  <header>
    <title>Meme Website (DANK MEMES BOi)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/" />
    <!-- Halfmoon CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
      rel="stylesheet"
    />
    <!--
  Or,
  Use the following (no variables, supports IE11):
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
-->

    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  </header>

  <!-- Navbar with a navbar-item as dropdown -->
  <nav class="navbar">
    <!-- Navbar brand -->
    <a href="#" class="navbar-brand">
MEME GENERATOR
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav ml-auto">
      <!-- ml-auto = margin-left: auto -->
      <li class="nav-item active">
        <a href="https://github.com/raifcoonjah/meme-generator-flask" class="nav-link">Source Code</a>
      </li>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <!-- Requires halfmoon.js for the dropdown -->
  <script src="path/to/halfmoon.js"></script>

  <main>
    <div class="row">		
  <div class="col-6">
    <!-- Responsive image -->
    <img src="{{meme_pic}}" class="img-fluid rounded" alt="responsive image">
  </div>
</div>
    <p>Stolen from: {{subreddit}}</p>
  </main>
  <!-- Block buttons -->
<div class="row">
  <div class="col-md-6">
    <a href="/">
    <button class="btn btn-block" type="button">Next meme</button>
    </a>
  </div>
</div>
</html>
