<html>
  <header>
    <title>Meme Website (DANK MEMES BOi)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/" />
    <!-- Halfmoon CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
      rel="stylesheet"
    />
    <!--
  Or,
  Use the following (no variables, supports IE11):
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
-->

    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  </header>

  <main>
    <h3>MEME</h3>
    <p><img src="{{meme_pic}}" /></p>
    <p>Stolen from: {{subreddit}}</p>
  </main>
</html>
